[Unit]
Description=Mirror files to storage box
Wants=network-online.target
After=network-online.target

[Service]
StandardOutput=journal
StandardError=journal
Type=oneshot

Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7

ExecStart=rsync -avh \
	--filter='protect .ssh/' \
	--exclude-from /home/robin/.config/rsync/mirror-excludes \
	--delete \
	--partial \
	--delete-delay \
	/home/robin/Cloud/ mirror:
